ul{
    display: flex;
    gap: 40px;
    list-style: none;align-items: center;
    color: blue;
}
.abc{
    display: flex;
    
}
.XYZ{
    display: flex;
    
}
.aa{
    margin-top: 9%;
    padding: 0px 4px 0px 0px;
}