<hr>
<div class="abc">
    <div class="XYZ">
        <div class="aa" >
        <i class="fa-regular fa-bell" class="fa fa-github" style="font-size: 25px; color: #57606a;"></i>
        </div>
        <p style="color: #57606a;">@ 2022 Github, Inc.</p>
    </div>
    <div class="lists">
     <ul> 
        <li>Terms</li>
        <li>Privacy</li>
        <li>Security</li>
        <li>Status</li>
        <li>Docs</li>
        <li>Contact GitHub</li>
        <li>Pricing</li>
        <li>API</li>
        <li>Training</li>
        <li>Blog</li>
        <li>About</li>
     </ul>
     </div>
</div>
