<header>

<div class="xyz">
    <div class="logo">
        <i class="fa-regular fa-bell" class="fa fa-github" style="font-size: 40px;"></i>
    </div>
    <div class="search">
        <input type="text" placeholder=" Search or jump to..." style="background: transparent; border-radius:6px;padding: 0px 60px;padding: 0px 5px 0px;
        border-style: ridge;margin-top:-2%;
    margin-bottom:-2%;width: -webkit-fill-available;">
        <button style="margin-left: -10%;background:transparent;border-radius:3px;color:gray;padding: 0px 5px 0px;
        border-style: ridge;">/</button>
    </div>
</div>
<div class="abc">
    <div>
      <ul class="ul1">
        <li> <a class="nav-link" href="#">Pull requests </a></li>&nbsp;
        <li> <a class="nav-link" href="#">Issues</a> </li>&nbsp; 
        <li> <a class="nav-link" href="#">Codespaces</a> </li>&nbsp; 
        <li> <a class="nav-link" href="#">MarketPlace</a> </li>&nbsp; 
        <li> <a class="nav-link" href="#">Explore</a> </li>&nbsp; 
      </ul> 
    </div>   
    <div class="bell">
        <i class="fa-regular fa-bell"></i>&nbsp;&nbsp;
        <i class="fa fa-plus"></i>
        <select style="width: 20px; cursor: pointer; outline:none; background:none; color: gray; border:none">
            <option>New repository</option>
            <option>Import repository</option>
            <option>New codespage</option>
            <option>New gist</option>
        </select>
        <i class="fa-solid fa-circle-user"></i>
        <select  style="width: 20px; cursor: 20px pointer;outline: none;background: none;color:gray;border: none;">
            <option>Your profile</option>
            <option>Your repository</option>
            <option>Your project</option>
            <option>Your star</option>
            <option>Your gits</option>
            <hr>
            <option>Upgrade</option>
            <option>try Enterprise</option>
            <option>Feature preview</option>
            <option>Help</option>
            <option>Settings</option>
            <hr>
            <option>Sign out</option>
          </select>
    </div>
        
</div> 
</header>
    
    
    
    
    
    
    
    
    
    
        
    